@media screen and (max-width: 600px) {
  .calculator {
    width: 300px;
  }

  .GuessTheNumber button {
    padding: 10px 20px;
  }


  .GuessTheNumber h1 {
    font-size: 35px;
  }

  .GuessTheNumber input[type="text"] {
    font-size: 20px;
  }

  .GuessTheNumber p {
    font-size: 20px;
  }
}

@media screen and (max-width: 470px){
  nav li {
    padding: 5px 3.5px;
  font-size: 16px;
    }  

}

@media screen and (max-width: 440px) {
  .GuessTheNumber h1 {
    font-size: 25px;
  }

  
  .text {
    font-size: 1px;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
  }
  
  .text p{
    margin: 0px 0px;
  }

  .input-config {
    margin-top:30px ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

@media screen and (max-width: 380px) {
  .calculator {
    width: 200px;
    /* height:  auto; */
  }

  .calculator .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

  }

  .calculator button {
    height: 40px;
    width: 40px;
    /* padding: 5px; */

  }

  .calculator input[type="text"] {
    width: 100%;
    padding: 10px 0px;
    display: block;
  }
}

@media screen and (max-width: 380px){
  .rps-game div{
    font-size: 18px;
  }

  #rpsPlay{
    width: 30vh;
}

nav li {
  /* margin-right: 10px; */
  padding: 5px 10px;
  font-size: 14px;
}

}

@media screen and (max-width: 353px){
  nav li {
  padding: 5px 3.5px;
font-size: 16px;
  }  
}

@media screen and (max-width: 320px){
  nav li {
    /* margin-right: 10px; */
    padding: 5px 5px;
    font-size: 10px;
  }
}

@media screen and (max-width: 302px){
  .qr-section label{
    font-size: 14px;
  }
}

@media screen and (max-width: 285px){
  .qr-container {
    padding: 10px;
    margin: 20px auto;
    max-width: 100%;
    box-shadow: none;
}

.qr-container label, 
.qr-container button, 
.qr-input {
    font-size: 15px;
}

nav li {
  padding: 5px 4px;
  font-size: 10px;
}

}